@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.header-content {
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header {
    background-color: #1F2937;
}
.header-logo h2 {
    font-size: 24px;
    color: #F9FAF8;
}
p, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.section1 {
    background-color: #1F2937;
}

.content1 {
    display: flex;
    gap: 3rem;
    max-width: 75%;
    margin: auto;
}


.content1 div {
    flex: 1 1 50%;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
    box-sizing: border-box;
}

.content1 div:nth-child(2) {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    inline-size: 50%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.section1 button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
}

.section2 { 
    
}