@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.header-content {
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header {
    background-color: #1F2937;
}
.header-logo h2 {
    font-size: 24px;
    color: #F9FAF8;
}
p, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.section1 {
    background-color: #1F2937;
}

.content1 {
    display: flex;
    gap: 3rem;
    max-width: 75%;
    margin: auto;
}


.content1 div {
    flex: 1 1 50%;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
    box-sizing: border-box;
}

.content1 div:nth-child(2) {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    inline-size: 50%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.section1 button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
}

.content2 {
    max-width: 60%;
    margin: auto;
    margin-block-end: 3rem;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.images {
    display: flex;
    gap: 1rem;
}
.piece {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piece p {
    text-align: center;
}

.image {
    border: medium solid #3882F6;
    border-radius: 10px;
    width: 200px;
    aspect-ratio: 1 / 1;
}

.quote {
    background-color: #E5E7EB;
    padding-block: 3rem;
}
.quote-content {
    max-inline-size: 60%;
    margin: auto;
}
.quote p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote p:last-child {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}